<% if notice != nil %>
  <p id="notice">
    <div class="alert alert-success text-centered" role="alert">
      <p class="text-center"><%= notice %></p>
    </div>
  </p>
<% end %>

<div class="page-header">
  <h1><%= @task.description %></h1>
</div>

<ul class="breadcrumb">
  <li><%= link_to "Tasks", tasks_path %></li>
  <li class="active"> <%= @task.description %> </li>
</ul>
