 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url(https://fonts.googleapis.com/css?family=Ubuntu:500|Raleway:400,100);

 // body {
 //   padding-top: 50px;
 // }

 h1 { font-family: 'Ubuntu', sans-serif; }

 p { font-family: 'Raleway', sans-serif;}

 body {
   padding-top: 60px;
   font-family: 'Raleway', sans-serif;
 }

 .navbar-inverse .navbar-brand {
   color: #9d9d9d;
 }

 .img-footer {
   max-width: 2em;
   max-height: 2em;
   margin-right: .5em;
 }

 footer {
   font-family: 'Ubuntu', sans-serif;
   padding: 1em 0;
   padding-top: 1em;
   padding-right: 0px;
   padding-bottom: 1em;
   padding-left: 0px;
   margin-top: 1em;
   border-top: 1px solid #ccc;
   border-top-width: 1px;
   border-top-style: solid;
   border-top-color: rgb(204, 204, 204);
 }

 #notice {
   color: green;
 }

 .panel-primary>.panel-heading {
   color: white;
   background-color: #428bca;
   border-color: #428bca;
 }

 .btn-danger {
   background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
   background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
   background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD9534F', endColorstr='#FFC12E2A', GradientType=0);
   filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
   background-repeat: repeat-x;
   border-color: #b92c28;
 }

 .btn-info {
   background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
   background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
   background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5BC0DE', endColorstr='#FF2AABD2', GradientType=0);
   filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
   background-repeat: repeat-x;
   border-color: #28a4c9;
 }

 .btn-primary {
   background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%);
   background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
   background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF337AB7', endColorstr='#FF265A88', GradientType=0);
   filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
   background-repeat: repeat-x;
   border-color: #245580;
 }

 .btn-default {
   background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
   background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
   background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE0E0E0', GradientType=0);
   filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
   background-repeat: repeat-x;
   border-color: #dbdbdb;
   text-shadow: 0 1px 0 #fff;
   border-color: #ccc;
 }
